<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- 
      DISABLE COMPRESSION 
      The development server is incorrectly sending Content-Encoding headers for uncompressed files.
      This acts as a kill-switch for IIS Express / Kestrel-IIS integration.
    -->
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>
